<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>功能选择页面</title>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/choose.js"></script>
</head>
<body>
<div>
    <div style="text-align:center; height: 100%; width: 100%; margin: 8px;  background: #fff;">
        <input type="button" style="margin-top: 50px" value="跳转至导出SKU转换率数据" onclick="gotoMainHtml()"/><br>
        <input type="button" style="margin-top: 10px" value="Transaction Data" onclick="gotoTransHtml()"/><br>
    </div>
</div>
</body>
</html>