<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <!--<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
<div>
    <p th:text="'账号：' + ${user?.username} + '---密码：' + ${user?.passwd}"/>
    <input type="file" value="请选择您要导入的文档">
    <input type="button" value="数据导入">
</div>
</body>
</html>